*Subject*.xlsx
manifest
.venv
/subjects
/subjects/*
df_final
*.zip
df_final.csv
data/*
.DS_Store
build/
/build/*
*.so
**/target
Cargo.lock
*.keras
*.h5
*.npy
*.pt
__pycache__
figures/various_models/jax
figures/various_models/pytorch
figures/various_models/tensorflow
docs/models_results.typ
*.pkl
**/logs/**
